.container {
  margin: 0 auto;
}

.pascalNumber {
  display: inline-block;
  position: relative;
  border: 1px solid grey;
  text-align: center;
  font-size: 0.8em;
  width: 2em;
}

.divblock {
  text-align: center;
  vertical-align: middle;
  background-color: cyan;
}
  #pascal {
  margin: 0 auto;
  text-align: center;
}

.pascalNumber:nth-child(odd) {
  background: yellow;
}
.pascalNumber:nth-child(even) {
  background: red;
}
